@page
@model SocialNetwork.Pages.Messages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].messageContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].userID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].recevingUserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].isRead)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Message) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.messageContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.recevingUserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isRead)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.messageID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.messageID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.messageID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
