@page
@model SocialNetwork.Pages.Posts.Comments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comment[0].stringContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment[0].base64Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment[0].score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment[0].date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment[0].Post)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment[0].UserInfo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Comment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.stringContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.base64Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserInfo.email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.commentID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.commentID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.commentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
