@page
@model SocialNetwork.Pages.UserInfos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserInfo[0].stringID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserInfo[0].firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserInfo[0].lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserInfo[0].gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserInfo[0].birthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserInfo[0].nickname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserInfo[0].email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserInfo[0].password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserInfo[0].phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserInfo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.stringID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.birthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nickname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
