@page
@model SocialNetwork.Pages.Posts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].stringContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].base64Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].posX)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].posY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Post) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stringContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.base64Photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.posX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.posY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.postID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.postID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.postID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
