
@page
@using Microsoft.AspNetCore.Identity
@using SocialNetwork.Models;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManage
@model IndexModel
@{
    ViewData["Title"] = "Social Network";
    if (Model.newMessages == true)
        ViewData["NewMessages"] = "msg";

}
@{
    //bardzo fajnie można wydobyć dane obecnego użytkownika
    var user = await UserManage.GetUserAsync(User);
}



@if (SignInManager.IsSignedIn(User) && user.Email.CompareTo("pemix09@onet.pl") !=0)
{
    <div class="welcomePage">
        <section>
            Nazwa użytkownika to: @user.Email
            @if (Model.posts != null)
            {
                foreach (Post post in Model.posts)
                {
                    <div class="Post">
                        @if (post.base64Photo != null)
                        {
                            <img src="@post.base64Photo" alt="Zdjęcie powiązane z postem: @post.name" />
                        }
                        else
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M4 22v-20h16v11.543c0 4.107-6 2.457-6 2.457s1.518 6-2.638 6h-7.362zm18-7.614v-14.386h-20v24h10.189c3.163 0 9.811-7.223 9.811-9.614zm-5-1.386h-10v-1h10v1zm0-4h-10v1h10v-1zm0-3h-10v1h10v-1z" /></svg>
                        }
                        <div>
                            <div class="PostTileAndButtons">
                                <h1>@post.name</h1>
                                <div>
                                    <svg class="svgButtons" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181" /></svg>
                                    <svg class="svgButtons" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12 1c-6.338 0-12 4.226-12 10.007 0 2.05.739 4.063 2.047 5.625l-1.993 6.368 6.946-3c1.705.439 3.334.641 4.864.641 7.174 0 12.136-4.439 12.136-9.634 0-5.812-5.701-10.007-12-10.007zm0 1c6.065 0 11 4.041 11 9.007 0 4.922-4.787 8.634-11.136 8.634-1.881 0-3.401-.299-4.946-.695l-5.258 2.271 1.505-4.808c-1.308-1.564-2.165-3.128-2.165-5.402 0-4.966 4.935-9.007 11-9.007zm-5 7.5c.828 0 1.5.672 1.5 1.5s-.672 1.5-1.5 1.5-1.5-.672-1.5-1.5.672-1.5 1.5-1.5zm5 0c.828 0 1.5.672 1.5 1.5s-.672 1.5-1.5 1.5-1.5-.672-1.5-1.5.672-1.5 1.5-1.5zm5 0c.828 0 1.5.672 1.5 1.5s-.672 1.5-1.5 1.5-1.5-.672-1.5-1.5.672-1.5 1.5-1.5z" /></svg>
                                    <svg class="svgButtons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.351 6.493c-.08-.801.55-1.493 1.351-1.493s1.431.692 1.351 1.493l-.801 8.01c-.029.282-.266.497-.55.497s-.521-.215-.55-.498l-.801-8.009zm1.351 12.757c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" /></svg>
                                </div>

                            </div>
                            <p class="PostContent">@post.stringContent</p>
                        </div>

                    </div>
                }
            }
        </section>

    </div>
}
else if(SignInManager.IsSignedIn(User) && user.Email.CompareTo("pemix09@onet.pl") == 0)
            {
<section class="welcomePage" style="flex-direction:row;">
    <div style="flex-direction:column; align-items:flex-start;">
        <h1>
            Witaj @user.Email,<br />
            oto panel administracyjny:
        </h1>
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Admin/Users">
            <div class="PictureButton">
                <svg xmlns="http://www.w3.org/2000/svg" width="100" viewBox="0 0 24 24"><path d="M17.997 18h-.998c0-1.552.06-1.775-.88-1.993-1.438-.332-2.797-.645-3.293-1.729-.18-.396-.301-1.048.155-1.907 1.021-1.929 1.277-3.583.702-4.538-.672-1.115-2.707-1.12-3.385.017-.576.968-.316 2.613.713 4.512.465.856.348 1.51.168 1.908-.49 1.089-1.836 1.4-3.262 1.728-.982.227-.92.435-.92 2.002h-.995l-.002-.623c0-1.259.1-1.985 1.588-2.329 1.682-.389 3.344-.736 2.545-2.209-2.366-4.365-.676-6.839 1.865-6.839 2.492 0 4.227 2.383 1.867 6.839-.775 1.464.824 1.812 2.545 2.209 1.49.344 1.589 1.072 1.589 2.333l-.002.619zm4.81-2.214c-1.289-.298-2.489-.559-1.908-1.657 1.77-3.342.47-5.129-1.4-5.129-1.265 0-2.248.817-2.248 2.325 0 1.269.574 2.175.904 2.925h1.048c-.17-.75-1.466-2.562-.766-3.736.412-.692 1.704-.693 2.114-.012.38.631.181 1.812-.534 3.161-.388.733-.28 1.301-.121 1.648.305.666.977.987 1.737 1.208 1.507.441 1.368.042 1.368 1.48h.997l.002-.463c0-.945-.074-1.492-1.193-1.75zm-22.805 2.214h.997c0-1.438-.139-1.039 1.368-1.48.761-.221 1.433-.542 1.737-1.208.159-.348.267-.915-.121-1.648-.715-1.349-.914-2.53-.534-3.161.41-.682 1.702-.681 2.114.012.7 1.175-.596 2.986-.766 3.736h1.048c.33-.75.904-1.656.904-2.925.001-1.509-.982-2.326-2.247-2.326-1.87 0-3.17 1.787-1.4 5.129.581 1.099-.619 1.359-1.908 1.657-1.12.258-1.194.805-1.194 1.751l.002.463z" /></svg>
                <h2>użytkownicy</h2>
            </div>
        </a>
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Admin/Claims">
            <div class="PictureButton">
                <svg xmlns="http://www.w3.org/2000/svg" width="100" viewBox="0 0 24 24"><path d="M18 14.45v6.55h-16v-12h6.743l1.978-2h-10.721v16h20v-10.573l-2 2.023zm1.473-10.615l1.707 1.707-9.281 9.378-2.23.472.512-2.169 9.292-9.388zm-.008-2.835l-11.104 11.216-1.361 5.784 5.898-1.248 11.103-11.218-4.536-4.534z" /></svg>
                <h2>Edytuj role użytkowników</h2>
            </div>
        </a>
    </div>
    <img style="width:400px; margin:50px;" src="~/src/diCaprio.jpg" alt="Leonardo DiCaprio meme" />
    <img style="width:500px;" src="~/src/socialNetworkLogo.png" alt="Social Network Logo" />

</section>
   


            }
else
{
    <section class="welcomePage">
        <div>
            <img class="welcomeImage" src="~/src/smile.jpg" alt="smilling man">
        </div>
        <div class="LogoAndText">
            <div>
                <img class="logo" src="~/src/socialNetworkLogo.png" alt="Social Network Logo" />
            </div>
            <div class="welcomeText">
                <h1>
                    Witaj w Social Network,
                    jedyne takie miejsce do kontaktu
                    ze znajomymi.
                </h1>
            </div>
        </div>

    </section>

}