@page "{id?}"
@model SocialNetwork.Areas.Identity.Pages.Admin.ClaimsModel
@{
    int FormId = 0;
}

<section class="welcomePageAdmin">
    <div asp-validation-summary="All" class="text-danger m-2"></div>

    <table style="color: white; font-size:20px;" class="table table-sm table-striped table-bordered">
        <thead><tr><th>Typ roli</th><th>Wartość</th><th>Modyfikuj</th></tr></thead>
        <tbody>

            @foreach (var c in Model.Claims)
            {
                FormId++;

                <tr>
                    <td>@c.Type</td>
                    <td>@c.Value</td>
                    <td>
                        <form method="post" id=@("editForm"+FormId)>
                            <input type="hidden" name="type" value="@c.Type" />
                            <input type="hidden" name="oldValue" value="@c.Value" />
                            <input class="form-control" name="value" value="@c.Value" />
                        </form>
                    </td>
                    <td>

                        <button type="submit" form=@("editForm"+FormId)
                                class="btn btn-sm btn-warning"
                                asp-page-handler="editClaim">
                            Edytuj
                        </button>

                        <button type="submit" form=@("editForm"+FormId)
                                class="btn btn-sm btn-danger"
                                asp-page-handler="DeleteClaim">
                            Usuń
                        </button>

                    </td>
                </tr>
            }
        </tbody>
    </table>


    <h1>Dodaj nową rolę</h1>
    <form method="post" id="addForm">
        <div class="row">
            <div class="col">
                <select class="form-control" name="type">
                    @foreach (var claimType in Model.AppClaimTypes)
                    {
                        <option value="@claimType">
                            @claimType
                        </option>
                    }
                </select>

            </div>

            <div class="col">
                <input class="form-control" name="value" />
            </div>
            <input type="hidden" name="hiddenStringID" value="@Model.Id" />

            <div class="col">
                <button asp-page-handler="AddClaim" type="submit"
                        class="btn btn-sm btn-success">
                    Dodaj
                </button>

            </div>
        </div>
    </form>

</section>

