@page
@model SocialNetwork.Areas.Identity.Pages.Admin.UsersModel
@{
}

<section class="welcomePageAdmin">
    <div class="m-2">

        <table style="color:white; font-size:20px;" class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Pseudonim</th>
                    <th>Adres email</th>
                    <th>Role</th>
                    <th>Akcja</th>
                    <th />
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@user.firstName</td>
                        <td>@user.lastName</td>
                        <td>@user.nickname</td>
                        <td>@user.email</td>
                        <td>
                            <a asp-page="Claims" asp-route-id ="@user.ID" asp-route-stringID="@user.stringID">Zarządzaj rolami</a>
                        </td>
                        <td>
                            <a asp-page="/Pages/Users/Delete" asp-route-id="@user.ID">
                                <div class="PictureButton">
                                    <svg fill="white" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 16.094l-4.157-4.104 4.1-4.141-1.849-1.849-4.105 4.159-4.156-4.102-1.833 1.834 4.161 4.12-4.104 4.157 1.834 1.832 4.118-4.159 4.143 4.102 1.848-1.849z" /></svg>
                                </div>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</section>
